In [37]:
import os
os.getcwd()

'C:\\Users\\User\\Documents\\oksana\\UpstreamHomeAssignment'

In [45]:
import pandas as pd
from os.path import abspath
raw_data_path = abspath('.\data\\raw_data')
normalized_data_path = abspath('.\data\\normalized_data')
vehicle_raw_df = pd.read_parquet(raw_data_path, engine='pyarrow')
vehicle_normalized_df = pd.read_parquet(normalized_data_path, engine='pyarrow')
print(raw_data_path)

C:\Users\User\Documents\oksana\UpstreamHomeAssignment\data\raw_data

In [46]:
vehicle_raw_df

,vin,manufacturer,year,model,latitude,longitude,timestamp,velocity,frontLeftDoorState,wipersState,gearPosition,driverSeatbeltState,ts,date,hour
0,4TAPN62N0TZ087521,Toyota,1996,Tacoma,42.17,-111.38,1683367591861,50,UNLOCKED,True,2,LOCKED,2023-05-06 10:06:31.861,2023-05-06,10
1,SCFBB03B07GC02942,Aston Martin,2007,V8 Vantage,37.97,-101.82,1683367384876,0,None,True,3,LOCKED,2023-05-06 10:03:04.876,2023-05-06,10
2,None,Toyota,1996,Tacoma,45.74,-78.59,1683367399918,0,None,True,5,LOCKED,2023-05-06 10:03:19.918,2023-05-06,10
3,WVWPH63B63E455188,Volkswagen,2003,Passat,39.02,-88.73,1683367559872,130,LOCKED,True,3,LOCKED,2023-05-06 10:05:59.872,2023-05-06,10
4,SCFBB03B07GC02942,Aston Martin,2007,V8 Vantage,42.16,-94.98,1683367270827,100,None,True,5,LOCKED,2023-05-06 10:01:10.827,2023-05-06,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,ZHWGE11S04LA00780,Lamborghini,2004,Gallardo,46.42,-88.08,1683365423367,100,None,False,2,LOCKED,2023-05-06 09:30:23.367,2023-05-06,9
79996,ZFFEW58A870157169,Ferrari,2007,F430,37.62,-87.50,1683365551375,120,UNLOCKED,False,5,LOCKED,2023-05-06 09:32:31.375,2023-05-06,9
79997,3C3CFFJH9DT711213,Fiat,2013,500,44.53,-98.40,1683366024373,0,UNLOCKED,False,1,LOCKED,2023-05-06 09:40:24.373,2023-05-06,9
79998,1FMYU96H95KD42711,Ford,2005,Escape,34.12,-105.13,1683365352368,90,None,False,None,LOCKED,2023-05-06 09:29:12.368,2023-05-06,9
79999,4TAPN62N0TZ087521,Toyota,1996,Tacoma,45.76,-86.71,1683365885371,90,None,False,None,LOCKED,2023-05-06 09:38:05.371,2023-05-06,9

In [47]:
vehicle_normalized_df

,vin,manufacturer,year,model,latitude,longitude,timestamp,velocity,frontLeftDoorState,wipersState,gearPosition,driverSeatbeltState,ts,date,hour
6,1FMYU96H95KD42711,Ford,2005,Escape,41.72,-113.85,1683368062764,60,UNLOCKED,None,1,None,2023-05-06 10:14:22.764,2023-05-06,10
7,1FMYU96H95KD42711,Ford,2005,Escape,42.53,-119.72,1683368070764,0,LOCKED,True,1,None,2023-05-06 10:14:30.764,2023-05-06,10
16,9BWEL41J484018815,Volkswagen,2008,Golf,46.62,-81.23,1683367273762,40,UNLOCKED,True,3,LOCKED,2023-05-06 10:01:13.762,2023-05-06,10
17,JT2BG22KXW0164520,Toyota,1998,Camry,34.41,-114.86,1683367238759,0,LOCKED,True,3,LOCKED,2023-05-06 10:00:38.759,2023-05-06,10
21,WDBCB20AXEA063442,Mercedes Benz,1984,300 Class,47.66,-120.74,1683367665762,80,LOCKED,True,1,LOCKED,2023-05-06 10:07:45.762,2023-05-06,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,YV1CZ852051206734,Volvo,2005,XC90,35.94,-105.42,1683366642098,130,None,False,6,LOCKED,2023-05-06 09:50:42.098,2023-05-06,9
9996,3C3CFFJH9DT711213,Fiat,2013,500,36.11,-100.89,1683366427101,90,UNLOCKED,False,3,LOCKED,2023-05-06 09:47:07.101,2023-05-06,9
9997,WDBCB20AXEA063442,Mercedes Benz,1984,300 Class,40.73,-85.17,1683367024099,60,UNLOCKED,False,5,None,2023-05-06 09:57:04.099,2023-05-06,9
9998,9BWEL41J484018815,Volkswagen,2008,Golf,37.42,-88.61,1683364381106,80,None,False,3,LOCKED,2023-05-06 09:13:01.106,2023-05-06,9
9999,4T1BF1FK8FUB03575,Toyota,2015,Camry,41.56,-79.42,1683365856105,450,None,False,6,LOCKED,2023-05-06 09:37:36.105,2023-05-06,9

In [48]:
#generate_vin_last_state_report
vin_last_state_df = vehicle_normalized_df.sort_values("timestamp").groupby("vin", as_index=False).last()
vin_last_state_df = vin_last_state_df.dropna(subset=['frontLeftDoorState', 'wipersState'])
vin_last_state_df = vin_last_state_df.rename(columns={'timestamp':'last_reported_timestamp',
                                                          'frontLeftDoorState':'front_left_door_state',
                                                          'wipersState':'wipers_state'})
vin_last_state_df[['vin','last_reported_timestamp','front_left_door_state','wipers_state']]

,vin,last_reported_timestamp,front_left_door_state,wipers_state
0,1C4NJDBB0GD610265,1683368251341,UNLOCKED,False
1,1D3HW58J16S586904,1683368252355,UNLOCKED,False
2,1FMYU96H95KD42711,1683368237340,LOCKED,False
3,1G4AP6949BX114240,1683368245340,UNLOCKED,False
4,3C3CFFJH9DT711213,1683368252363,UNLOCKED,False
5,4T1BF1FK8FUB03575,1683368245363,LOCKED,False
6,4TAPN62N0TZ087521,1683368244365,UNLOCKED,False
7,9BWEL41J484018815,1683368249339,LOCKED,False
8,JN1CV6FH0A0017612,1683368222340,UNLOCKED,False
9,JT2BG22KXW0164520,1683368252347,UNLOCKED,False
10,JTHBN36F665857215,1683368251355,LOCKED,False
11,JTMKF4DV0A5016322,1683368246343,UNLOCKED,False
12,KMHFC46F87A211273,1683368249343,UNLOCKED,False
13,SAJAD03P25FN31904,1683368247360,UNLOCKED,False
14,SCFBB03B07GC02942,1683368236366,UNLOCKED,False
15,WDBCB20AXEA063442,1683368251365,LOCKED,False
16,WVWHP9AN8AE560303,1683368248361,LOCKED,False
17,WVWPH63B63E455188,1683368219355,LOCKED,False
18,YV1CZ852051206734,1683368251363,UNLOCKED,False
19,ZARBA5642K1063245,1683368243365,LOCKED,False
20,ZFFEW58A870157169,1683368249338,UNLOCKED,False
21,ZHWGE11S04LA00780,1683368246343,UNLOCKED,False

In [49]:
#generate_top_fastest_vehicles_report
vehicle_df_grouped = vehicle_normalized_df.groupby(['vin','date','hour'], as_index=False)['velocity'].max()
vehicle_df_grouped.nlargest(n=10, columns=['velocity'])

                  vin        date hour  velocity
10  4T1BF1FK8FUB03575  2023-05-06   10       450
11  4T1BF1FK8FUB03575  2023-05-06    9       450
1   1C4NJDBB0GD610265  2023-05-06    9       190
2   1D3HW58J16S586904  2023-05-06   10       190
3   1D3HW58J16S586904  2023-05-06    9       190
5   1FMYU96H95KD42711  2023-05-06    9       190
7   1G4AP6949BX114240  2023-05-06    9       190
8   3C3CFFJH9DT711213  2023-05-06   10       190
9   3C3CFFJH9DT711213  2023-05-06    9       190
13  4TAPN62N0TZ087521  2023-05-06    9       190